:root {
  // colors
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-green: #63d1bb;
  --basic-green-dark: #56c3b2;
  // screen width
  --small: 320px;
  --medium: 768px;
  --large: 1150px;
}
