:root {
  // colors
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-green: #63d1bb;
  --basic-green-dark: #56c3b2;
  --special-black: #444444;
  --shadow-grey: #ececec;
  --special-grey: #f1f1f1;
  --special-green: #46c1ae;
}
// screen width
$small: 320px;
$medium: 768px;
$large: 1150px;
$smallOnly: $medium - 1px;
$mediumOnly: $large - 1px;
