// about

.about {
  max-width: 1050px;
  margin: 0 auto;

  color: var(--basic-black, #000000);

  background-color: var(--basic-white, #ffffff);

  @media only screen and (min-width: $medium) {
    padding-top: 70px;
    padding-bottom: 85px;
  }
}

// title

.about__title {
  margin: 0 auto;
  margin-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;

  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  @media only screen and (min-width: $medium) {
    margin-bottom: 35px;
    padding-right: 50px;
    padding-left: 50px;

    font-size: 43px;
    line-height: 50px;
  }

  @media only screen and (min-width: $large) {
    padding-left: 175px;

    font-size: 53px;
    line-height: 57px;
  }
}

// list

.about__list {
  display: grid;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
  padding-right: 30px;
  padding-left: 30px;

  list-style: none;

  @media only screen and (min-width: $medium) {
    padding-right: 50px;
    padding-left: 50px;

    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (min-width: $large) {
    padding-left: 175px;
  }
}

// item

.about__item {
  margin-bottom: 20px;
  padding-right: 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  @media only screen and (min-width: $medium) {
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 22px;

    &:nth-child(3n+1) {
      order: 1;
    }

    &:nth-child(3n+2) {
      order: 2;
    }

    &:nth-child(3n) {
      order: 3;
    }
  }
}

// wrap

.about__wrap {
  width: 55px;
  height: 55px;
  margin-bottom: 8px;

  &--flower {
    padding-top: 7px;
    padding-left: 8px;
  }

  &--money {
    padding-top: 7px;
  }

  &--heart {
    padding-top: 13px;
    padding-left: 7px;
  }

  &--ball {
    padding-top: 10px;
    padding-left: 4px;
  }

  &--rocket {
    margin-left: -5px;
    padding-top: 10px;
  }

  &--gift {
    padding-top: 10px;
    padding-left: 3px;
  }
}

// icon

.about__icon {
  display: block;

  fill: var(--basic-green, #63d1bb);
}

// tagline

.about__tagline {
  margin: 0;
}
