// arrow-button

.arrow-button {
  display: grid;
  width: 50%;
  margin: 0;
  padding: 12px;

  background-color: var(--basic-white);
  border: none;
  outline: 1px solid var(--shadow-grey);

  place-items: center;

  @media only screen and (min-width: $medium) {
    outline: none;
  }

  &:hover .arrow-button__icon,
  &:focus .arrow-button__icon {
    opacity: 0.6;
  }

  &:active .arrow-button__icon {
    opacity: 0.3;
  }
}
