// arrow-button

.arrow-button {
  width: 50%;
  margin: 0;
  padding: 13px;
  border: none;

  background-color: var(--basic-white);
  outline: 1px solid var(--shadow-grey);

  @media only screen and (min-width: $medium) {
    outline: none;
  }

  &:hover .arrow-button__icon,
  &:focus .arrow-button__icon {
    opacity: 0.6;
  }

  &:active .arrow-button__icon {
    opacity: 0.3;
  }
}
