// catalog

.catalog {
  color: var(--basic-black, #000000);

  background-color: var(--basic-white, #ffffff);
}

// container

.catalog__container {
  padding-top: 30px;
  padding-bottom: 58px;

  @media only screen and (min-width: $medium) {
    padding-top: 67px;
    padding-bottom: 63px;
  }

  @media only screen and (min-width: $large) {
    padding-top: 110px;
    padding-bottom: 105px;
  }
}

// goods

.catalog__goods {
  margin-bottom: 30px;

  @media only screen and (min-width: $medium) {
    margin-bottom: 50px;
  }

  @media only screen and (min-width: $large) {
    margin-bottom: 57px;
  }
}
