// catalog

.catalog {
  display: grid;
}

// goods

.catalog__goods {
  margin: 0 30px;
  margin-bottom: 30px;

  @media only screen and (min-width: $medium) {
    margin: 0 50px;
    margin-bottom: 50px;
  }

  @media only screen and (min-width: $large) {
    margin-bottom: 57px;
  }
}

// production

.catalog__production {
  margin: 0 30px;
  margin-bottom: 60px;

  @media only screen and (min-width: $medium) {
    margin-left: 50px;
    margin-right: 50px;
  }

  @media only screen and (min-width: $large) {
    margin-bottom: 105px;
  }
}
