// contacts

.contacts {
  color: var(--special-black, #444444);

  background-color: var(--basic-white, #ffffff);
}

// container

.contacts__container {
  padding: 0;
  padding-bottom: 39px;

  outline: 1px solid red;

  @media only screen and (min-width: $medium) {
    padding-bottom: 57px;
  }

  @media only screen and (min-width: $large) {
    display: grid;
    padding-top: 70px;
    padding-right: 50px;
    padding-bottom: 105px;
    padding-left: 225px;

    grid-column-gap: 10px;
    grid-template-columns: auto 60%;
  }
}

// info

.contacts__info {
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 20px;

  @media only screen and (min-width: $medium) {
    padding: 50px;
    padding-top: 70px;
    padding-bottom: 35px;

    @media only screen and (max-width: $mediumOnly) {
      display: grid;

      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media only screen and (min-width: $large) {
    padding: 0;
    padding-top: 80px;

    grid-column: 1/2;
  }
}

// title

.contacts__title {
  margin: 0;
  margin-bottom: 25px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black, #000000);

  @media only screen and (min-width: $medium) {
    margin-bottom: 30px;

    font-size: 43px;
    line-height: 50px;

    grid-column: 1/-1;
  }

  @media only screen and (min-width: $large) {
    margin-bottom: 35px;

    font-size: 53px;
    line-height: 57px;
  }
}

// wrapper

.contacts__wrapper {
  display: grid;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;

  grid-column-gap: 30px;
  grid-template-columns: max-content auto;
  justify-items: start;

  @media only screen and (min-width: $medium) {
    font-size: 17px;

    grid-column-gap: 25px;
  }
}

// email

.contacts__email {
  position: relative;

  margin-bottom: 15px;

  @media only screen and (min-width: $large) {
    margin-bottom: 15px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: #62d1ba;
  }

  &:hover,
  &:focus {
    color: var(--special-green, #46c1ae);
  }

  &:hover::after,
  &:focus::after {
    background-color: var(--special-green, #46c1ae);
  }

  &:active::after {
    opacity: 0.1;
  }
}

// map

.contacts__map {
  margin-bottom: 40px;

  @media only screen and (min-width: $medium) {
    margin-bottom: 55px;
  }

  @media only screen and (min-width: $large) {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

//  button

.contacts__button {
  margin: 0 30px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

  @media only screen and (min-width: $medium) {
    width: 230px;
    margin: 0 auto;
  }

  @media only screen and (min-width: $large) {
    align-self: end;
    margin: 0;

    grid-column: 1/2;
    justify-self: start;
  }
}
