// contacts

.contacts {
  color: var(--special-black, #444444);

  background-color: var(--basic-white, #ffffff);
}

// container

.contacts__container {
  padding: 0;
  padding-bottom: 39px;

  @media only screen and (min-width: $medium) {
    padding-bottom: 57px;
  }

  @media only screen and (min-width: $large) {
    display: grid;
    padding-top: 70px;
    padding-right: 50px;
    padding-bottom: 105px;
    padding-left: 225px;

    grid-column-gap: 10px;
    grid-template-columns: auto 60%;
  }
}

// info

.contacts__info {
  display: grid;
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 20px;

  @media only screen and (min-width: $medium) {
    padding: 50px;
    padding-top: 70px;
    padding-bottom: 40px;

    @media only screen and (max-width: $mediumOnly) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media only screen and (min-width: $large) {
    padding: 0;
    padding-top: 80px;

    grid-column: 1/2;
    grid-template-rows: min-content min-content;
  }
}

// title

.contacts__title {
  position: relative;

  margin: 0;
  margin-bottom: 10px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black, #000000);

  &::before {
    content: "";
    position: absolute;

    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  @media only screen and (min-width: $medium) {
    margin-bottom: 30px;
    padding-right: 60px;

    font-size: 43px;
    line-height: 50px;

    grid-column: 1/-1;

    &::before {
      top: -25px;
      right: 4px;

      width: 47px;
      height: 81px;
    }
  }

  @media only screen and (min-width: $large) {
    margin-bottom: 20px;
    padding: 0;

    font-size: 53px;
    line-height: 57px;

    &::before {
      top: -15px;
      right: unset;
      left: -113px;
    }
  }
}

// wrapper

.contacts__wrapper {
  display: grid;
  align-items: start;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;

  grid-column-gap: 30px;
  grid-template-columns: max-content auto;
  justify-items: start;

  @media only screen and (min-width: $medium) {
    margin-bottom: 10px;

    font-size: 17px;

    grid-column-gap: 25px;
  }
}

// email

.contacts__email {
  position: relative;

  border-bottom: 1px solid #62d1ba;

  &:hover,
  &:focus {
    color: var(--special-green, #46c1ae);

    border-bottom-color: var(--special-green, #46c1ae);
  }

  &:active {
    border-bottom-color: rgba($color: #46c1ae, $alpha: 0.1);
  }
}

// map

.contacts__map {
  margin-bottom: 40px;

  @media only screen and (min-width: $medium) {
    margin-bottom: 53px;
  }

  @media only screen and (min-width: $large) {
    margin: 0;

    grid-column: 2/3;
    grid-row: 1/3;
  }
}

//  button

.contacts__button {
  margin: 0 30px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

  @media only screen and (min-width: $medium) {
    width: 230px;
    margin: 0 auto;

    font-size: 17px;
  }

  @media only screen and (min-width: $large) {
    align-self: end;
    margin: 0;

    grid-column: 1/2;
    justify-self: start;
  }
}
