// footer

.footer {
  color: var(--basic-black, #000000);

  background-color: var(--special-grey, #f1f1f1);
}

// container

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 23px;

  @media only screen and (min-width: $medium) {
    display: grid;
    padding-top: 50px;
    padding-bottom: 50px;

    grid-template-columns: repeat(3, 1fr);
  }
}

// logo

.footer__logo {
  @media only screen and (max-width: $smallOnly) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: var(--special-green, #46c1ae);
  }

  &:active {
    opacity: 0.3;
  }
}

// socials

.footer__socials {
  @media only screen and (max-width: $smallOnly) {
    position: relative;

    margin-bottom: 45px;

    &::after {
      content: "";
      position: absolute;
      bottom: -25px;

      width: 100%;
      height: 1px;

      background-color: #e5e5e5;
    }
  }

  @media only screen and (min-width: $medium) {
    align-self: end;
  }
}

// copyright

.footer__copyright {
  @media only screen and (min-width: $medium) {
    align-self: end;
  }

  @media only screen and (min-width: $large) {
    margin-top: 5px;
  }
}
