// footer

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;

  color: var(--basic-black);

  background-color: var(--special-grey);

  @media (min-width: $medium) {
    flex-direction: row;
  }
}

// socials

.footer__socials {
  @media (max-width: $medium) {
    position: relative;

    margin-bottom: 45px;

    &::after {
      content: "";
      position: absolute;
      bottom: -25px;

      width: 100%;
      height: 1px;

      background-color: #e5e5e5;
    }
  }
}
