// field

.form__field {
  position: relative;

  margin: 0;
  padding: 0;

  border: none;

  &--grey {
    @media only screen and (min-width: $medium) {
      background-color: var(--special-grey, #f1f1f1);
    }
  }
}

// container

.form__container {
  position: relative;

  padding-top: 42px;
  padding-bottom: 30px;

  @media only screen and (min-width: $medium) {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 217px;
  }

  @media only screen and (min-width: $large) {
    padding-right: 225px;
    padding-left: 225px;
  }
}

.form__container--color {
  @media only screen and (min-width: $large) {
    padding-right: 160px;
  }
}

.form__container--extra {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 39px;
  padding-bottom: 56px;

  @media only screen and (min-width: $medium) {
    flex-direction: row;
    align-items: center;
    padding: 50px;
  }

  @media only screen and (min-width: $large) {
    padding-right: 225px;
    padding-left: 225px;
  }
}

.form__container--user {
  padding-top: 48px;
  padding-bottom: 36px;

  @media only screen and (min-width: $medium) {
    padding-top: 51px;
    padding-bottom: 49px;
  }

  @media only screen and (min-width: $large) {
    padding-top: 49px;
    padding-bottom: 49px;
  }
}

.form__container--tel,
.form__container--email {
  padding-top: 20px;
  padding-bottom: 36px;
}

.form__container--tel {
  @media only screen and (min-width: $medium) {
    padding-top: 50px;
    padding-bottom: 2px;
  }
}

.form__container--email {
  @media only screen and (min-width: $medium) {
    padding-bottom: 50px;
  }
}

// title

.form__title {
  position: absolute;
  top: 0;
  left: 30px;

  display: grid;
  width: calc(100% - 60px);

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: var(--basic-green);
  text-transform: uppercase;

  grid-column-gap: 25px;
  grid-template-columns: max-content 1fr;

  &::after {
    content: "";

    display: block;
    align-self: center;
    height: 1px;

    background-color: #62d1ba;
  }

  @media only screen and (min-width: $medium) {
    top: 66px;
    left: 50px;

    display: block;
    width: auto;

    &--email {
      top: 40px;
    }

    &::after {
      display: none;
    }
  }

  @media only screen and (min-width: $large) {
    left: 50%;

    transform: translateX(-463px);
  }
}

// list

.form__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  @media only screen and (min-width: $medium) {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (min-width: $large) {
    grid-template-columns: repeat(3, 1fr);
  }
}

// radio

.form__radio {
  &:not(:last-child) {
    margin-bottom: 5px;
  }

  @media only screen and (min-width: $medium) {
    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }
}

// checkbox

.form__checkbox {
  &:not(:last-child) {
    margin-bottom: 22px;
  }

  @media only screen and (min-width: $medium) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

// textfield

.form__textfield {
  &:not(:last-child) {
    margin-bottom: 22px;
  }

  @media only screen and (min-width: $medium) {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

// textarea

.form__textarea {
  width: 100%;
  margin-bottom: 16px;
  padding: 15px;

  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;

  border: 2px solid var(--special-black, #444444);

  resize: none;

  &::placeholder {
    color: inherit;

    opacity: 0.3;
  }

  &:hover,
  &:focus {
    border-color: #62d1ba;
  }

  @media only screen and (min-width: $medium) {
    margin-bottom: 57px;
    margin-left: 167px;

    font-size: 19px;
  }

  @media only screen and (min-width: $large) {
    margin-bottom: 55px;
    margin-left: 0;
  }
}

// text

.form__text {
  margin: 0;
  margin-bottom: 32px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--special-black, #444444);

  @media only screen and (min-width: $medium) {
    order: 1;
    margin: 0;
    margin-left: auto;

    font-size: 17px;
    line-height: 30px;
  }
}

// button

.form__button {
  width: 100%;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;

  @media only screen and (min-width: $medium) {
    max-width: 230px;
    margin: 0;
    margin-right: 10px;
  }
}
