// form

.form {
  outline: 1px solid blue;
}

// field

.form__field {
  margin: 0;
  padding: 0;

  border: none;

  &--grey {
    @media only screen and (min-width: $medium) {
      background-color: var(--special-grey, #f1f1f1);
    }
  }
}

// container

.form__container {
  position: relative;

  padding-top: 30px;
  padding-bottom: 30px;

  outline: 1px solid red;

  @media only screen and (min-width: $medium) {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 215px;
  }

  @media only screen and (min-width: $large) {
    padding-right: 225px;
    padding-left: 225px;
  }
}

.form__container--extra {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media only screen and (min-width: $medium) {
    flex-direction: row;
    align-items: center;
    padding: 50px;
  }

  @media only screen and (min-width: $medium) {
    padding-right: 225px;
    padding-left: 225px;
  }
}

// title

.form__title {
  position: absolute;
  top: 10px;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: var(--basic-green);
  text-transform: uppercase;

  @media only screen and (min-width: $medium) {
    top: 66px;
    left: 50px;
  }
}

// list

.form__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  @media only screen and (min-width: $medium) {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (min-width: $large) {
    grid-template-columns: repeat(3, 1fr);
  }
}

// item

.form__item {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

// textarea

.form__textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;

  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;

  border: 2px solid var(--special-black, #444444);

  resize: none;

  &::placeholder {
    color: inherit;

    opacity: 0.3;
  }

  @media only screen and (min-width: $medium) {
    width: calc(100% - 215px);
    margin-bottom: 50px;
    margin-left: 215px;
  }

  @media only screen and (min-width: $medium) {
    width: 100%;
    margin-left: 0;
  }
}

// text

.form__text {
  margin: 0;
  margin-bottom: 30px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--special-black, #444444);

  @media only screen and (min-width: $medium) {
    order: 1;
    margin: 0;
    margin-left: auto;

    font-size: 17px;
    line-height: 30px;
  }
}

// button

.form__button {
  width: 100%;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;

  @media only screen and (min-width: $medium) {
    max-width: 230px;
    margin: 0;
    margin-right: 10px;
  }
}
