.header {
  background-color: var(--basic-white, #ffffff);
}

// container

.header__container {
  position: relative;

  padding: 0;
}

// logo

.header__logo {
  @media only screen and (min-width: $medium) {
    position: absolute;
    top: 23px;
    left: 50px;
  }

  @media only screen and (min-width: $large) {
    position: absolute;
    top: 10px;
    left: 50%;

    transform: translateX(-50%);
  }
}
