.header {
  background-color: var(--basic-white, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff 0 88px, rgba($color: #000000, $alpha: 0.1) 88px 89px, #f9f9f9 89px 100%);

  &--dark {
    background-image: linear-gradient(to bottom, #ffffff 0 88px, rgba($color: #000000, $alpha: 0.1) 88px 89px, #f1f1f1 89px 100%);
  }
}

// container

.header__container {
  position: relative;

  padding: 0;
}

// logo

.header__logo {
  @media only screen and (min-width: $medium) {
    position: absolute;
    top: 23px;
    left: 50px;
  }

  @media only screen and (min-width: $large) {
    position: absolute;
    top: 10px;
    left: 50%;

    transform: translateX(-50%);
  }
}
