// intro

.intro {
  color: var(--basic-black);

  background-color: var(--special-grey);
}

// container

.intro__container {
  padding-top: 75px;
  padding-bottom: 75px;

  text-align: center;

  @media only screen and (min-width: $medium) {
    padding-top: 100px;
    padding-bottom: 75px;
  }

  @media only screen and (min-width: $large) {
    padding-bottom: 95px;
  }
}

// title

.intro__title {
  margin: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;

  @media only screen and (min-width: $medium) {
    font-size: 43px;
    line-height: 50px;
  }

  @media only screen and (min-width: $large) {
    font-size: 53px;
    line-height: 57px;
  }
}
