// intro

.intro {
  position: relative;

  color: var(--basic-black);

  background-color: var(--special-grey);

  @media only screen and (min-width: $medium) {
    &::before {
      content: "";
      position: absolute;
      bottom: -1px;

      width: 100%;
      height: 24px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: auto 100%;
    }
  }

  @media only screen and (min-width: $large) {
    &::before {
      height: 34px;
    }
  }
}


// container

.intro__container {
  padding-top: 70px;
  padding-bottom: 75px;

  text-align: center;

  @media only screen and (min-width: $medium) {
    padding-top: 35px;
    padding-bottom: 85px;
  }

  @media only screen and (min-width: $large) {
    padding-bottom: 115px;
  }
}

// title

.intro__title {
  margin: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;

  @media only screen and (min-width: $medium) {
    font-size: 43px;
    line-height: 50px;
  }

  @media only screen and (min-width: $large) {
    font-size: 53px;
    line-height: 57px;
  }
}
