// main

// featured

.main__featured {
  position: relative;

  @media only screen and (min-width: $medium) {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      top: 0;
      height: 24px;
      transform: translateY(-50%);
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: contain;
      background-position: bottom;
    }
  }

  @media only screen and (min-width: $large) {
    &::before {
      height: 34px;
      background-size: cover;
      background-position: unset;
    }
  }
}

// container

.main__container {
  position: relative;

  padding: 0;
  padding-bottom: 50px;

  &::before,
  &::after {
    content: "";
    position: absolute;

    width: 100%;
    height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: contain;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media only screen and (min-width: $medium) {
    padding-bottom: 85px;

    &::before,
    &::after {
      height: 17px;
    }
  }

  @media only screen and (min-width: $large) {
    padding-right: 50px;
    padding-bottom: 90px;
    padding-left: 50px;

    &::before,
    &::after {
      left: 50px;

      width: calc(100% - 100px);
      height: 23px;
    }
  }
}
