// map

.map {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 42%;
    left: 54%;

    width: 21%;
    height: 21%;

    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-50%) translateY(-50%);
  }

  @media only screen and (min-width: $medium) {
    &::after {
      top: 41%;
      left: 58%;

      transform: translateX(-50%) translateY(-50%);
    }
  }
}

// image

.map__image {
  display: block;
  width: 100%;
}
