// menu

.menu {
  &--no-js .menu__button {
    display: none;
  }
}

// button

.menu__button {
  position: absolute;
  top: 23px;
  right: 19px;

  cursor: pointer;
}

// list

.menu__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  @media only screen and (min-width: $medium) {
    display: grid;

    grid-template-areas: ". actions" "pages tagline";
    grid-template-columns: auto auto;
  }

  @media only screen and (min-width: $large) {
    grid-column-gap: 10px;
    grid-template-areas: "pages . actions" "news . tagline";
    grid-template-columns: 1fr 150px 1fr;
  }

  &--close {
    display: none;
  }
}

// pages

.menu__pages {
  display: block;

  @media only screen and (min-width: $medium) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;

    grid-area: pages;
  }

  @media only screen and (min-width: $large) {
    margin: 0;
  }
}

.menu__pages .menu__link {
  @media only screen and (min-width: $medium) {
    padding: 22px 0;

    font-size: 15px;

    &:not(:last-child) {
      margin-right: 36px;
    }
  }

  @media only screen and (min-width: $large) {
    margin: 0;
    padding: 32px 0;
    padding-right: 35px;
    padding-left: 50px;

    font-size: 17px;

    &:not(:last-child) {
      margin: 0;
    }

    &:last-child {
      padding-left: 35px;
    }

    &:first-child {
      border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
    }
  }
}

// actions

.menu__actions {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $medium) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;

    grid-area: actions;
  }
}

// news

.menu__news {
  display: none;

  @media only screen and (min-width: $large) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;

    grid-area: news;
  }
}

.menu__news .menu__link {
  @media only screen and (min-width: $large) {
    padding: 22px 0;

    font-size: 15px;

    &:not(:last-child) {
      margin-right: 63px;
    }
  }
}

// tagline

.menu__tagline {
  display: none;

  font-size: 15px;
  line-height: 24px;
  color: var(--special-black);

  @media only screen and (min-width: $medium) {
    display: flex;
    margin-right: 50px;
    margin-left: auto;

    grid-area: tagline;
    place-items: center;
  }
}

// link

.menu__link {
  position: relative;

  display: flex;
  padding: 28px;
  padding-left: 76px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: var(--basic-black);

  background-color: transparent;
  box-shadow: 0 1px 0 var(--shadow-grey), inset 0 1px 0 var(--shadow-grey);

  place-items: center;

  &:hover .menu__text,
  &:focus .menu__text {
    opacity: 0.6;
  }

  &:active .menu__text {
    opacity: 0.3;
  }

  &:hover .menu__icon,
  &:focus .menu__icon {
    opacity: 1;

    fill: var(--basic-green);
  }

  &:active .menu__icon {
    opacity: 0.3;
  }

  @media only screen and (min-width: $medium) {
    box-shadow: none;
  }

  &--search {
    @media only screen and (min-width: $medium) {
      padding: 32px;

      font-size: 0;

      border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
      border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
    }
  }

  &--cart {
    @media only screen and (min-width: $medium) {
      flex-grow: 1;
      padding-top: 32px;
      padding-right: 50px;
      padding-bottom: 32px;
      padding-left: 85px;
    }
  }
}

// icon

.menu__icon {
  position: absolute;
  top: 50%;
  left: 40px;

  transform: translateX(-50%) translateY(-50%);

  fill: rgba($color: #000000, $alpha: 0.2);

  &--search {
    @media only screen and (min-width: $medium) {
      position: relative;
      top: unset;
      left: unset;

      transform: unset;
    }
  }
}
