// order

.order {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

// title

.order__title {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--special-black);
}
