.promo {
  display: grid;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media (min-width: $medium) {
    background-image: url("../img/hero-tablet@1x.jpg");
  }

  @media (min-width: $large) {
    background-image: url("../img/hero-desktop@1x.jpg");
  }
}

// title

.promo__title {
  margin: 0;
  margin-bottom: 120px;
  padding-top: 70px;
  padding-right: 30px;
  padding-left: 30px;

  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

// list

.promo__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $medium) {
    grid-template-columns: 1fr 1fr;
  }
}

// item

.promo__item {
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
}

// link

.promo__link {
  display: grid;
  padding: 30px;

  color: var(--basic-white);

  background-color: var(--basic-green);

  grid-template-columns: min-content auto;

  &--dark {
    background-color: var(--basic-green-dark);
  }

  &:hover .promo__icon,
  &:focus .promo__icon {
    opacity: 0.7;
  }

  &:active .promo__icon {
    opacity: 0.3;
  }
}

// icon

.promo__icon {
  opacity: 0.5;

  fill: #149080;
  justify-self: end;
}
