// product

.product {
  display: grid;
  width: 100%;
  margin: 0;
  padding: 0;

  grid-template-rows: min-content auto;

  @media only screen and (min-width: $medium) and (max-width: $mediumOnly) {
    grid-template-columns: 1fr 1fr;
  }

  &:hover .product__caption {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active .product__caption {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

// link

.product__link {
  display: block;
}

// image

.product__image {
  display: block;
  width: 100%;

  background-color: var(--shadow-grey, #ececec);
}

// caption

.product__caption {
  display: flex;
  flex-direction: column;
  padding: 0 28px;
  padding-top: 27px;
  padding-bottom: 26px;

  border: 1px solid var(--shadow-grey, #ececec);

  @media only screen and (min-width: $medium) {
    padding-right: 34px;
    padding-left: 32px;
  }

  @media only screen and (min-width: $large) {
    padding-left: 28px;
  }
}

// heading

.product__heading {
  max-width: 230px;
  margin: 0;
  margin-bottom: 5px;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @media only screen and (min-width: $medium) {
    font-size: 20px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

// stats

.product__stats {
  margin: 0;
  margin-bottom: auto;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: var(--special-black, #444444);

  @media only screen and (min-width: $medium) {
    font-size: 15px;
  }
}

// wrap

.product__wrap {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 41px;

  @media only screen and (min-width: $large) {
    margin-top: 36px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -23px;

    width: 100%;
    height: 1px;

    background-color: var(--shadow-grey, #ececec);
  }
}

// price

.product__price {
  margin: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;

  @media only screen and (min-width: $medium) {
    font-size: 17px;
  }
}

// cart

.product__cart {
  display: block;

  &:hover .product__icon,
  &:focus .product__icon {
    opacity: 1;

    fill: var(--basic-green, #63d1bb);
  }

  &:active .product__icon {
    opacity: 0.3;

    fill: var(--basic-green, #63d1bb);
  }
}

// icon

.product__icon {
  opacity: 0.2;

  fill: var(--basic-black, #000000);
}
