// production

.production {
  display: grid;

  color: var(--special-black, #444444);

  background-color: var(--basic-white, #ffffff);
  border: 1px solid var(--shadow-grey, #ececec);

  @media only screen and (min-width: $medium) {
    border: none;
  }

  @media only screen and (min-width: $large) {
    grid-template-columns: 65% auto;
  }

  &:hover .production__wrapper {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active .production__wrapper {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

// wrapper

.production__wrapper {
  display: contents;

  border: 1px solid var(--shadow-grey, #ececec);

  @media only screen and (min-width: $medium) {
    display: block;
    padding: 40px;
    padding-right: 30px;
    padding-bottom: 46px;
  }

  @media only screen and (min-width: $large) {
    padding-top: 40px;
    padding-right: 56px;
    padding-bottom: 60px;
    padding-left: 79px;
  }
}

// title

.production__title {
  position: relative;

  order: -1;
  margin: 20px 34px;
  margin-bottom: 28px;
  padding-left: 55px;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: var(--basic-black, #000000);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 32px;
    height: 22px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
  }

  @media only screen and (min-width: $medium) {
    order: 0;
    margin: 0;
    margin-bottom: 25px;
    padding-left: 65px;

    font-size: 20px;

    &::before {
      transform: translateY(-65%);
    }
  }

  @media only screen and (min-width: $large) {
    padding: 0;
    padding-top: 55px;

    &::before {
      top: 5px;

      transform: unset;
    }
  }
}

// video

.production__video {
  position: relative;

  margin-right: -1px;
  margin-bottom: 35px;
  margin-left: -1px;

  @media only screen and (min-width: $medium) {
    margin: 0;
  }
}

// link

.production__link {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  transform: translateX(-50%) translateY(-50%);

  &:hover .production__play,
  &:focus .production__play {
    transform: scale(1.2);
  }

  &:active .production__play {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

// image

.production__image {
  display: block;
  width: 100%;

  background-color: var(--special-grey, #ececec);
}

// text

.production__text {
  margin: 0;
  margin-right: 30px;
  margin-bottom: 42px;
  margin-left: 34px;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;

  @media only screen and (min-width: $medium) {
    margin: 0;
    margin-bottom: 41px;

    font-size: 15px;
    line-height: 30px;
  }

  @media only screen and (min-width: $medium) {
    margin-bottom: 55px;
  }
}

// button

.production__button {
  margin: 0 34px;
  margin-bottom: 33px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;

  @media only screen and (min-width: $medium) {
    margin: 0;
    margin-right: 10px;

    font-size: 17px;
  }

  @media only screen and (min-width: $medium) {
    margin: 0;
  }
}
