// radio

.radio {
  position: relative;

  display: flex;
  align-items: flex-start;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-black, #000000);

  background-color: var(--basic-white, #ffffff);

  @media only screen and (min-width: $medium) {
    font-size: 19px;
    line-height: 18px;
  }
}


// input

.radio__input {
  flex-shrink: 0;
  margin-right: 21px;

  border: 2px solid var(--special-black, #000000);
  border-radius: 50%;

  appearance: none;

  $innerBig: 21px;
  $innerSmall: 16px;
  $radioBig: 52px;
  $radioSmall: 39px;

  @include size($radioSmall);

  @media only screen and (min-width: $medium) {
    @include size($radioBig);
  }

  @media only screen and (min-width: $medium) {
    margin-right: 28px;
  }

  &:hover,
  &:focus {
    border-color: #62d1ba;
  }

  &:active {
    border-color: var(--special-black);
    opacity: 0.3;
  }

  &:checked + .radio__icon {
    content: "";
    position: absolute;
    top: $radioSmall / 2;
    left: $radioSmall / 2;

    background-color: #62d1ba;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);

    @include size($innerSmall);

    @media only screen and (min-width: $medium) {
      top: $radioBig / 2;
      left: $radioBig / 2;

      @include size($innerBig);
    }
  }

  &:disabled {
    opacity: 0.3;
  }
}

// label

.radio__label {
  padding: 10px 0;

  @media only screen and (min-width: $medium) {
    padding: 16px 0;
  }
}
