// reviews

.reviews {
  @media only screen and (min-width: $medium) {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }
}

// container

.reviews__container {
  padding-top: 28px;

  @media only screen and (min-width: $medium) {
    display: grid;
    padding-top: 80px;
    padding-bottom: 50px;

    grid-column-gap: 10px;
    grid-template-columns: auto min-content;
  }

  @media only screen and (min-width: $large) {
    padding-right: 0;
    padding-bottom: 95px;
    padding-left: 175px;
  }
}

// title

.reviews__title {
  margin: 0;
  margin-bottom: 15px;

  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  @media only screen and (min-width: $medium) {
    margin-bottom: 40px;

    font-size: 43px;
    line-height: 50px;

    grid-column: 1/2;
    grid-row: 1/2;
  }

  @media only screen and (min-width: $large) {
    margin-bottom: 38px;

    font-size: 53px;
    line-height: 57px;
  }
}

// list

.reviews__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media only screen and (min-width: $medium) {
    display: contents;
  }
}

// item

.reviews__item {
  @media only screen and (min-width: $medium) {
    grid-column: 1/3;
    grid-row: 2/4;
  }
}

// controls

.reviews__controls {
  display: flex;
  min-width: 175px;
  margin-bottom: 39px;

  @media only screen and (min-width: $medium) {
    margin: 0;

    grid-column: 2/3;
    grid-row: 3/4;
  }

  @media only screen and (min-width: $large) {
    margin-bottom: 5px;
  }
}

// button

.reviews__button {
  min-width: 175px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

  @media only screen and (min-width: $medium) {
    align-self: start;

    grid-column: 2/3;
    grid-row: 1/2;
  }
}
