// review

.review {
  margin: 0;
}

// text

.review__text {
  margin: 0;
  margin-bottom: 35px;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: var(--special-black, #444444);

  @media only screen and (min-width: $medium) {
    margin-bottom: 60px;

    font-size: 17px;
  }
}

// author

.review__author {
  display: grid;
  align-self: end;
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @media only screen and (min-width: $medium) {
    margin-bottom: 0;
    padding-right: 185px;

    font-size: 18px;
  }
}

// social

.review__social {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
}
